head { font-family:sans-serif;
}


body {
    
    background-color:firebrick;
    font-family:fantasy;
        margin-left:30px;
        color:#494239;
}
h1 {
    color:black;
    font-size:60px; 

}